@using Condominium2000.Helpers
@using Condominium2000.Resources
@using Condominium2000.Resources.GalleryImage
@model Condominium2000.Models.GalleryImage

@{
    ViewBag.Title = Delete.VIEW_BAG_TITLE;
}

<div id="content_margin_top"></div>
<div id="content_center" class="center">
    <div id="content_top">
        <div id="content_margin_left_xl"></div>
        <div id="content_full">
            <div class="default_info">
                <p class="default_info_a">
                    @Delete.TEXT_HELP_1
                </p>

                <br/>
                <div class="default_success">
                    @TempData["GalleryImageDeleted"]
                </div>

                <div class="default_error">
                    @Html.ValidationSummary(true, Delete.ERROR_DELETE)
                </div>
                <br/>

                <fieldset>
                    <legend>@Delete.TEXT_HELP_1</legend>
                    <div class="default_content">
                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_NAME
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.ImageName, new {disabled = "disabled"})
                            @Html.ValidationMessageFor(m => m.ImageName)
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_CAPTION_SV
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.CaptionSv, new {disabled = "disabled"})
                            @Html.ValidationMessageFor(m => m.CaptionSv)
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_CAPTION_EN
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.CaptionEn, new {disabled = "disabled"})
                            @Html.ValidationMessageFor(m => m.CaptionEn)
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_LIST_PRIORITY
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.ListPriority, new {disabled = "disabled"})
                            @Html.ValidationMessageFor(m => m.ListPriority)
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_IS_PROMOTED
                        </div>
                        <div class="editor-field">
                            @Html.CheckBoxFor(m => m.IsPromoted, new {disabled = "disabled"})
                            @Html.ValidationMessageFor(m => m.IsPromoted)
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_SIZE
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.FileSize, new {disabled = "disabled"})
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_TYPE
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.FileType, new {disabled = "disabled"})
                        </div>

                        <br/>
                        <div class="editor-label">
                            @SharedLabels.LABEL_PATH
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.FilePath, new {disabled = "disabled"})
                        </div>

                    </div>
                </fieldset>
                <br/>
                @using (Html.BeginForm())
                {
                    <p>
                        <input type="submit" value="@Condominium2000.Resources.News.Delete.BUTTON_DELETE"/>
                    </p>
                }
            </div>
        </div>
    </div>
    <div id="content_bottom" class="side_border">
        <div id="bottom_fast_links" class="quick_navigation">
            <div id="fl_divider">
                <div class="fl_divider"></div>
            </div>
            <div id="fl_space"></div>
            <div id="fl_news">
                @Html.ActionLinkBack(ContentBottom.BACK)
            </div>
            @Html.ActionLinkTop(ContentBottom.TOP)
        </div>
    </div>
</div>