@using Condominium2000.Resources.Shared
<div id="footer">
    <div id="footer_margin">
    </div>
    <div id="footer_center" class="center">
        <div id="footer_space">
        </div>
        <div id="footer_cookies">
            <div id="footer_cookies_icon">
                <div class="footer_cookie"></div>
            </div>
            <div id="footer_cookie_item" class="footer_item">
                <h1>
                    @_FooterPartial.HEADING_COOKIES</h1>
                <div class="footer_item_divider"></div>
                <p>
                    @_FooterPartial.TEXT_CONTACT_INFO_1
                </p>
                <dl>
                    <dd>
                        @_FooterPartial.TEXT_CONTACT_INFO_2</dd>
                    <dd>
                        @_FooterPartial.TEXT_CONTACT_INFO_3</dd>
                    <dd>
                        @_FooterPartial.TEXT_CONTACT_INFO_4</dd>
                </dl>
            </div>
        </div>
        <div id="footer_contact">
            <div id="footer_contact_icon">
                <div class="footer_contact"></div>
            </div>
            <div id="footer_contact_item" class="footer_item">
                <h1>
                    @_FooterPartial.HEADING_CONTACT</h1>
                <div class="footer_item_divider"></div>
                <dl>
                    <dd>
                        <div class="footer_bullet_arrow"></div>
                        <div class="footer_bullet_arrow_margin">
                            @_FooterPartial.TEXT_CONTACT_EMAIL</div>
                    </dd>
                    <dd>
                        <div class="footer_bullet_arrow"></div>
                        <div class="footer_bullet_arrow_margin">
                            @_FooterPartial.TEXT_CONTACT_ADRESS</div>
                    </dd>
                </dl>
            </div>
        </div>
        <div id="footer_rss">
            <div id="footer_rss_icon">
                <div class="footer_rss"></div>
            </div>
            <div id="footer_rss_item" class="footer_item">
                <h1>
                    @_FooterPartial.HEADING_RSS</h1>
                <div class="footer_item_divider">
                </div>
                <dl>
                    <dd>
                        @_FooterPartial.TEXT_RSS_ALL_NEWS</dd>
                    <dd>
                        @_FooterPartial.TEXT_RSS_ALL_ANNOUNCEMENTS</dd>
                </dl>
            </div>
        </div>
    </div>
</div>